In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.7/site-packages (0.3.9)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (1.3.2)
Requirement already satisfied: six in /Users/tom/Library/Python/3.7/lib/python/site-packages (from ipython-sql) (1.11.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.7/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.7/site-packages (from ipython-sql) (7.4.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.3.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.13.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.6.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (2.0.9)
Requirement already satisfied: appnope; sys_platform == "darwin" in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/site-packages (from ipython>=1.0->ipython-sql) (40.8.0)
Requirement already satisfied: parso>=0.3.0 in /usr/local/lib/python3.7/site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.3.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)

In [2]:
%load_ext sql

In [3]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [4]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1, datetime.time(2, 33, 56, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (2, datetime.time(2, 36, 10, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (3, datetime.time(2, 40, 34, 796000), 69, 'free', None, None, 455, 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (4, datetime.time(4, 36, 13, 796000), 32, 'free', None, None, 456, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (5, datetime.time(4, 36, 46, 796000), 75, 'free', None, None, 284, 'Columbia, SC', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.75.14 (KHTML, like Gecko) Version/7.0.3 Safari/537.75.14"')]

In [5]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(69, 'Anabelle', 'Simpson', 'F', 'free'),
 (32, 'Lily', 'Burns', 'F', 'free'),
 (75, 'Joseph', 'Gutierrez', 'M', 'free'),
 (92, 'Ryann', 'Smith', 'F', 'free'),
 (49, 'Chloe', 'Cuevas', 'F', 'free')]

In [6]:
%sql SELECT * FROM songs;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363)]

In [7]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan)]

In [8]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.time(2, 33, 56, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.time(2, 36, 10, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.time(2, 40, 34, 796000), 2, 11, 45, 11, 2018, 6),
 (datetime.time(4, 36, 13, 796000), 4, 11, 45, 11, 2018, 6),
 (datetime.time(4, 36, 46, 796000), 4, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).